aim: multi-user sync metronome

1. sync under same wi-fi network
 1-1) i have no available physical server
 1-2) any user can be leader (sync baseline). any phone (ios, android), any laptop.
 1-3) main goal is only-phone-case (all users only use phone, no laptop)
2. cross-flatform (using web-browser)
3. any service ,any framework okay, but it must be free and easy to adapt.
4. metronome show visual tick and sound tick
 4-1) visual tick example for 4/4 time
     ( v - - - ) for 1
     ( - v - - ) for 2
     ( - - v - ) for 3
     ( - - - v ) for 4
 4-2) visual tick example for 5/4 time
     ( v - - - - ) for 1
     ( - v - - - ) for 2
     ( - - v - - ) for 3
     ( - - - v - ) for 4
     ( - - - - v ) for 5
5. simple is the best
6. test will be run on local laptop and my iphone.
7. users don't have build tool, any build environment. user just type url in web browser and match wi-fi
8. We are in remote docker container: it is just for development not serving
9. User and this development env are not in same network.
10. we don't have any static ip.
